CREATE TABLE ozel_ders_planlari (
    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL,
    title TEXT NOT NULL,
    class_level TEXT NOT NULL,
    subject TEXT NOT NULL,
    curriculum_topic TEXT NOT NULL,
    tasavvurat TEXT,
    tasdikat TEXT,
    model_sahsiyet TEXT,
    deliller TEXT,
    atolye_uretimi TEXT,
    futuvet TEXT,
    etkinlikler TEXT,
    sozlu_kultur TEXT,
    oyun_tasarimi TEXT,
    kazanimlar TEXT,
    duration INTEGER NOT NULL,
    date DATE NOT NULL,
    user_id UUID REFERENCES auth.users NOT NULL,
    
    -- Row Level Security (RLS) politikaları
    CONSTRAINT valid_duration CHECK (duration > 0)
);

-- RLS'yi etkinleştir
ALTER TABLE ozel_ders_planlari ENABLE ROW LEVEL SECURITY;

-- Kullanıcıların kendi kayıtlarını görmesi ve düzenlemesi için politika
CREATE POLICY user_crud_policy ON ozel_ders_planlari
    FOR ALL
    USING (auth.uid() = user_id);
